Repository Zzzero-hash/trading-rl-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear-notebook-outputs, check-requirements

Path conditions:
  clear-notebook-outputs: any of: \.ipynb$
  check-requirements: any of: requirements.*\.txt$

fix(tests): correct reward computation in test_reward_calculation
  test-results.xml
  tests/test_reward_calculation.py
Due: none

Remove custom rewards and integrate FinRL-based reward options
  docs/api_reference.md
  src/envs/finrl_trading_env.py
  src/utils/rewards.py
  tests/conftest.py
  tests/test_empty_modules.py
  tests/test_rewards.py
Due: none

Update src/envs/finrl_trading_env.py
  src/envs/finrl_trading_env.py
Due: none

Introduce Riskfolio-based risk manager
  requirements.txt
  src/risk/__init__.py
  src/risk/production_risk_manager.py
  src/risk/riskfolio_risk_manager.py
  tests/test_production_risk_manager.py
  tests/test_riskfolio_risk_manager.py
Due: check-requirements

Update src/risk/riskfolio_risk_manager.py
  src/risk/riskfolio_risk_manager.py
Due: none

Remove custom weighted policy manager
  docs/ARCHITECTURE_OVERVIEW.md
  docs/api_reference.md
  docs/img/architecture_pipeline.gv
  evaluate_agent.py
  src/agents/__init__.py
  src/agents/policy_utils.py
  src/agents/rllib_weighted_policy.py
  tests/test_ensemble_integration.py
Due: none

Update src/agents/policy_utils.py
  src/agents/policy_utils.py
Due: none

Replace custom dataset builders with FinRL utilities
  .github/CODEOWNERS
  Complete_Pipeline_Walkthrough.ipynb
  README.md
  ROADMAP.md
  build_advanced_dataset.py
  build_datasets.py
  build_production_dataset.py
  cli.py
  configs/finrl_real_data.yaml
  configs/finrl_synthetic_data.yaml
  docs/ADVANCED_DATASET_DOCUMENTATION.md
  docs/README.md
  docs/getting_started.md
  docs/img/architecture_pipeline.gv
  docs/index.md
  finrl_data_loader.py
  generate_sample_data.py
  generate_simple_data.py
  tests/test_build_datasets.py
  tests/test_finrl_loader.py
  tests/test_news_sentiment.py
Due: clear-notebook-outputs

Update finrl_data_loader.py
  finrl_data_loader.py
Due: none

Use pip-tools and pip-audit
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/PRE_COMMIT_SETUP.md
  requirements.in
  scripts/check_requirements.py
Due: none

Remove TODO.md file as tasks have been addressed or are no longer relevant
  TODO.md
Due: none

refactor: simplify weighted policy mapping
  src/agents/policy_utils.py
Due: none

Use sklearn for evaluation metrics
  src/supervised_model.py
  tests/test_supervised_model.py
Due: none

Refactor CLI to use Typer for command handling and update requirements for new dependencies
  cli.py
  requirements.txt
  test-results.xml
Due: check-requirements

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: check-requirements
