Repository Zzzero-hash/trading-rl-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear-notebook-outputs, check-requirements

clear-notebook-outputs:
  name: Clear Jupyter notebook outputs
  entry: jupyter nbconvert --clear-output --inplace
  language: system
  require_serial: false

check-requirements:
  name: Check requirements files
  entry: python scripts/check_requirements.py
  language: system
  pass_filenames: false

Add initial structure for optimization scripts and documentation
  Complete_Pipeline_Walkthrough.ipynb
  cleanup_optimization.py
  scripts/docs/OPTIMIZATION_GUIDE.md
  src/optimization/cnn_lstm_optimization_clean.py
  src/optimization/simple_cnn_lstm_optimization.py
  src/optimization/streamlined_cnn_lstm_optimization.py
  src/optimization/streamlined_optimization.py
  test_streamlined_optimization.py
Due: clear-notebook-outputs

Remove output from documentation and next steps cell in the pipeline notebook to streamline execution.
  Complete_Pipeline_Walkthrough.ipynb
Due: clear-notebook-outputs

Refactor test data management by updating to DynamicTestDataManager and cleaning up imports
  tests/conftest.py
Due: none

Fix test infrastructure and resolve merge conflicts
  pytest.ini
  test-results.xml
  tests/test_data_utils.py
Due: none

Remove warning suppression options from pytest configuration
  test-results.xml
Due: none

Update flake8 configuration: set max line length to 88 and extend ignore list
  .pre-commit-config.yaml
Due: none

Fix pre-commit issues and improve code quality
  .flake8
  .pre-commit-config.yaml
  build_production_dataset.py
  evaluation_example.ipynb
  generate_sample_data.py
  generate_simple_data.py
  pyproject.toml
  scripts/build_docs.py
  scripts/dev.py
  src/__init__.py
  src/agents/__init__.py
  src/agents/configs.py
  src/agents/ensemble_agent.py
  src/agents/rainbow_dqn_agent.py
  src/configs/hyperparameters.py
  src/eval/__init__.py
  src/optimization/model_summary.py
  src/train_cnn_lstm.py
  tests/test_comprehensive_agents.py
  tests/test_comprehensive_data_preprocessing.py
  tests/test_ray_migration.py
  tests/test_td3_integration.py
  tests/test_td3_simple.py
Due: clear-notebook-outputs

Enhance code quality and organization across multiple files
  .pre-commit-config.yaml
  commit-bypass.sh
  docs/PRE_COMMIT_SETUP.md
  mypy.ini
  src/models/cnn_lstm.py
Due: none

fix: resolve pre-commit configuration issues
  .flake8
  COMPREHENSIVE_TESTING_FRAMEWORK.md
  CONTRIBUTING.md
  Complete_Pipeline_Walkthrough.ipynb
  PHASE_3_READINESS_REPORT.md
  ROADMAP.md
  build_advanced_dataset.py
  build_datasets.py
  docs/EXPERIMENT_OUTPUTS_MANAGEMENT.md
  docs/PRE_COMMIT_SETUP.md
  evaluate_agent.py
  pyproject.toml
  requirements-docs.txt
  scripts/check_type_coverage.py
  scripts/verify_gpu.py
  src/configs/hyperparameters.py
  src/utils/quantization.py
  test-results.xml
  tests/test_tune.py
Due: clear-notebook-outputs, check-requirements

fix: end-of-file formatting in test-results.xml
  test-results.xml
Due: none

feat: add new files for optimization and testing
  RAY_2_0_COMPATIBILITY_FIX.md
  cleanup_optimization.py
  fix_agent_constructors.py
  quick_integration_test.py
  scripts/cleanup_experiments.py
  scripts/cleanup_outputs.py
  src/optimization/cnn_lstm_optimization_clean.py
  src/optimization/simple_cnn_lstm_optimization.py
  src/optimization/streamlined_cnn_lstm_optimization.py
  src/optimization/streamlined_optimization.py
  test-results.xml
  test_fix.py
  test_ray_compatibility.py
  test_ray_fix.py
  test_streamlined_optimization.py
Due: none

docs: comprehensive documentation cleanup and locale fix
  .pre-commit-config.yaml
  CLEANUP_PLAN.md
  COMPREHENSIVE_TESTING_FRAMEWORK.md
  DATASET_GENERATION_PROCESS.md
  DOCUMENTATION_SETUP_COMPLETE.md
  FINAL_VALIDATION_REPORT.md
  LOCALE_FIX.md
  PHASE_2_5_COMPLETION_SUMMARY.md
  PHASE_3_READINESS_REPORT.md
  PIPELINE_COMPLETION_SUMMARY.md
  RAY_2_0_COMPATIBILITY_FIX.md
  README.md
  ROADMAP.md
  STREAMLINED_PIPELINE_GUIDE.md
  docs/ADVANCED_DATASET_README.md
  docs/ARCHITECTURE_OVERVIEW.md
  docs/EVALUATION_GUIDE.md
  docs/NOTEBOOK_OUTPUTS_GUIDE.md
  docs/README.md
  docs/getting_started.md
  scripts/README.md
  scripts/docs/OPTIMIZATION_GUIDE.md
  scripts/fix_locale.sh
Due: none

fix: update pytest version constraints and add missing test plugins
  requirements-minimal.txt
  requirements.txt
Due: check-requirements

feat: Implement Production Risk Manager with position limits, VaR, and circuit breakers
  .coverage
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  coverage.json
  coverage.xml
  docs/ARCHITECTURE_OVERVIEW.md
  docs/INDUSTRY_STANDARDS_MIGRATION.md
  docs/PRODUCTION_ROADMAP.md
  docs/README.md
  pytest.ini
  requirements-finrl.txt
  requirements-production.txt
  src/agents/ensemble_agent.py
  src/agents/sac_agent.py
  src/data/features.py
  src/data/professional_feeds.py
  src/envs/finrl_trading_env.py
  src/evaluation/industry_metrics.py
  src/risk/__init__.py
  src/risk/production_risk_manager.py
  test-results.xml
  tests/test_agent_comprehensive_fixed.py
  tests/test_comprehensive_data_preprocessing.py
  tests/test_industry_standards.py
  tests/test_production_risk_manager.py
Due: check-requirements

feat: Complete containerization setup for K8s migration
  .coverage
  Phase_1_Foundation_Infrastructure_Implementation.ipynb
  Trading_RL_Containerization.ipynb
  coverage.json
  coverage.xml
  docs/BROKER_SETUP.md
  k8s-deployment.yaml
  requirements-messaging.txt
  src/data/features.py
  src/data/preprocessing.py
  src/data/synthetic.py
  src/messaging/nats_client.py
  test-results.xml
  tests/test_comprehensive_data_preprocessing.py
Due: clear-notebook-outputs, check-requirements

Update test-results.xml to reflect successful test run with no errors, failures, or skipped tests
  .coverage
  .pre-commit-config.yaml
  coverage.json
  coverage.xml
  test-results.xml
Due: none

chore: Update documentation and notebooks for Trading RL Agent setup and evaluation
  ROADMAP.md
  coverage.json
  coverage.xml
  docs/ARCHITECTURE_OVERVIEW.md
  docs/BROKER_SETUP.md
  docs/DEVELOPMENT_GUIDE.md
  docs/EXPERIMENT_OUTPUTS_MANAGEMENT.md
  docs/INDUSTRY_STANDARDS_MIGRATION.md
  docs/NOTEBOOK_BEST_PRACTICES.md
  docs/OPTIMIZATION_GUIDE.md
  docs/PRODUCTION_ROADMAP.md
  docs/README.md
  docs/examples.md
  docs/getting_started.md
  docs/img/architecture_pipeline.gv
  docs/index.md
  docs/index.rst
  test-report.json
  test-report.md
  test-results.xml
  tests/conftest.py
  tests/test_comprehensive_data_preprocessing.py
  tests/test_comprehensive_environments.py
Due: none

Update coverage report, documentation, and test configurations
  coverage.json
  coverage.xml
  docs/DEVELOPMENT_GUIDE.md
  docs/README.md
  docs/index.md
  test-results.xml
  tests/conftest.py
Due: none

Refactor trading environment and metrics; add debugging script
  .coverage
  README.md
  ROADMAP.md
  coverage.json
  coverage.xml
  debug_env.py
  src/envs/finrl_trading_env.py
  src/envs/trading_env.py
  src/utils/metrics.py
  src/utils/quantization.py
  src/utils/rewards.py
  test-results.xml
  tests/conftest.py
Due: none

Remove obsolete quick integration test
  quick_integration_test.py
Due: none

Add quantization and rewards unit tests
  tests/test_quantization.py
  tests/test_rewards.py
Due: none

Path conditions:
  clear-notebook-outputs: any of: \.ipynb$
  check-requirements: any of: requirements.*\.txt$
