Repository Zzzero-hash/trading-rl-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: clear-notebook-outputs, check-requirements

clear-notebook-outputs:
  name: Clear Jupyter notebook outputs
  entry: jupyter nbconvert --clear-output --inplace
  language: system
  require_serial: false

check-requirements:
  name: Check requirements files
  entry: python scripts/check_requirements.py
  language: system
  pass_filenames: false

docs: add educational-use disclaimer
  README.md
  docs/README.md
Due: none

Replace custom RL and indicators with packaged versions
  src/agents/enhanced_td3_agent.py
  src/agents/ppo_agent.py
  src/agents/sac_agent.py
  src/agents/td3_agent.py
  src/data/features.py
  tests/test_agent_comprehensive.py
  tests/test_agent_comprehensive_clean.py
  tests/test_agent_comprehensive_fixed.py
  tests/test_comprehensive_agents.py.backup
  tests/test_integration.py
  tests/test_integration_isolation.py
  tests/test_ray_migration.py
  tests/test_sac_agent.py
  tests/test_ta_features.py
  tests/test_td3_simple.py
Due: none

refactor: use ta indicators directly
  src/data/features.py
  src/data_pipeline.py
  tests/focused/test_preprocessing_features.py
  tests/test_data_preprocessing_comprehensive.py
  tests/test_features.py
Due: none

refactor: remove redundant preprocess helpers
  src/data/preprocessing.py
  tests/focused/test_preprocessing_features.py
  tests/test_comprehensive_data_preprocessing.py
Due: none

Use pandas_ta for indicators and add TA-Lib deps
  requirements-core.txt
  requirements-docs.txt
  requirements-finrl.txt
  requirements-full.txt
  requirements-messaging.txt
  requirements-minimal.txt
  requirements-ml.txt
  requirements-production.txt
  requirements-test.txt
  requirements.txt
  src/data/features.py
Due: check-requirements

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: check-requirements

fix: requirements-full.txt to reduce vulnerabilities
  requirements-full.txt
Due: check-requirements

chore: update Dockerfile to install TA-Lib system libraries and remove obsolete requirements files
  Dockerfile
  requirements-core.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements-finrl.txt
  requirements-full.txt
  requirements-messaging.txt
  requirements-minimal.txt
  requirements-ml.txt
  requirements-production.txt
  requirements-test-comprehensive.txt
  requirements-test.txt
  requirements.txt
Due: check-requirements

chore: update Dockerfile to build TA-Lib C library from source and remove unnecessary package installations
  Dockerfile
Due: none

updates
  Dockerfile
Due: none

chore: update Dockerfile to set TA-Lib environment variables and verify header existence
  Dockerfile
Due: none

updates to dockerfile and tests
  .coverage
  .devcontainer/devcontainer.json
  Dockerfile
  pyproject.toml
  requirements.txt
  run_comprehensive_tests.py
  run_tests.py
  scripts/dev.py
  scripts/verify_setup.py
  test-results.xml
Due: check-requirements

chore: update Dockerfile and requirements.txt to refine test stage and add missing dependencies
  Dockerfile
  requirements.txt
Due: check-requirements

Refactor trading metrics and model quantization utilities
  .devcontainer/devcontainer.json
  Dockerfile
  cli.py
  coverage.json
  coverage.xml
  generate_sample_data.py
  generate_simple_data.py
  requirements.txt
  src/data/candle_patterns.py
  src/data/features.py
  src/utils/metrics.py
  src/utils/quantization.py
  test-results.xml
Due: check-requirements

Remove ta-lib dependency from requirements.txt
  requirements.txt
Due: check-requirements

Replace custom Rainbow DQN with sb3-contrib wrapper
  requirements.txt
  src/agents/__init__.py
  src/agents/rainbow_dqn_agent.py
Due: check-requirements

Remove ensemble agent and adopt RLlib multi-agent utilities
  docs/ARCHITECTURE_OVERVIEW.md
  docs/api_reference.md
  docs/img/architecture_pipeline.gv
  evaluate_agent.py
  src/agents/__init__.py
  src/agents/ensemble_agent.py
  src/agents/rllib_weighted_policy.py
  tests/test_ensemble_integration.py
Due: none

Enhance WeightedPolicyManager and CallablePolicy with error handling and type checks
  src/agents/rllib_weighted_policy.py
  test-results.xml
Due: none

Refactor evaluation metrics to use empyrical
  src/evaluation/industry_metrics.py
  src/utils/metrics.py
  tests/test_industry_standards.py
Due: none

Replace ModelSummarizer with torchinfo and profiler
  cnn_lstm_hparam_clean.ipynb
  docs/api_reference.md
  run_focus_cov.py
  scripts/comprehensive_cleanup.py
  src/optimization/__init__.py
  src/optimization/model_summary.py
  src/optimization/model_utils.py
  tests/focused/test_optimization_utils.py
  tests/test_optimization.py
Due: clear-notebook-outputs

Update test_industry_standards.py to use target_return in Sortino ratio calculation
  test-results.xml
  tests/test_industry_standards.py
Due: none

Path conditions:
  clear-notebook-outputs: any of: \.ipynb$
  check-requirements: any of: requirements.*\.txt$
